@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

.btn_project{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navbar-brand {
    margin-right: -100px;
}
.skill{
    padding: 10px;
    border-radius: 19px;
    border: 2px solid rgb(0, 146, 199);
}
.btn-primary {
    color: rgb(0, 161, 172);
    background-color: rgb(0, 161, 172);
    border-color: rgb(0, 161, 172);
}

