.navbar-brand {
    margin-right: -100px;
}

ul {
    list-style: none;
}
section.ahli ul{
    padding-left: 1rem;
}

section.ahli ul li::before {
    content: "\2022";
    color: rgb(33, 121, 60);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1rem;
}

section.ahli li {
    float: left;
    margin-right: 10px;
    padding-right: 3rem;
}
.btn_github{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

