.btn_project{
    text-decoration: none;
    color: rgb(33, 121, 60);
}
.navbar-brand {
    margin-right: -100px;
}
.skill{
    padding: 10px;
    background-color: rgb(18,164,138);
    border-radius: 19px;
    border: 2px solid rgb(18,164,138);
}